$maincolor: #c73b3b;
$bg: #e2e2e2;

@mixin centerrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centercol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin size {
  width: 100%;
  height: 100%;
}

@mixin font {
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
}
